.btnMenu {
  display: block;
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: 15px center;
  text-indent: -9999px;
  padding: 20px 15px;
}

.btnMenu_open {
  background-image: url(../img/menu-bars.svg);

}

.btnMenu_close {
  background-color: #747c81;
  background-image: url(../img/menu-bars-white.svg);
}